DATABASE_URL="postgresql://postgres:postgresql@192.168.122.2:5432/digitallife?schema=public"
AUTH_SECRET="cXZawudInoHZAvgX0f1WJtYbJbVpBf3cuzt50kb32Ew=" 
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
RESEND_SMTP_PASS=""
RESEND_SMTP_USER=""
RESEND_FROM_EMAIL="auth@mail.blockx3.xyz"
MODE="dev"
JWT_DOMAIN="localhost"
NEXTAUTH_URL="http://localhost:3000"
